 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-green-50: #30AF5B;
  --color-green-90: #292C27;
  --color-gray-10: #EEEEEE;
  --color-gray-20: #A2A2A2;
  --color-gray-30: #7B7B7B;
  --color-gray-50: #585858;
  --color-gray-90: #141414;
  --breakpoint-3xl: 1680px;
  --background-image-feature-bg: url('/feature-bg.png');
  --background-image-pattern: url('/pattern.png');
  --background-image-pattern-2: url('/pattern-bg.png');
}

* { margin:0; padding:0; box-sizing:border-box; }
body { font-family: Inter, sans-serif; }

@utility btn_white { @apply border-white bg-white px-8 py-3 text-green-50 }
@utility btn_green { @apply border-green-50 bg-green-50 px-8 py-5 text-white }
@utility btn_dark_green { @apply bg-green-90 px-8 py-4 text-white }
@utility max-container { @apply mx-auto max-w-[1440px]; }
@utility padding-container { @apply px-6 lg:px-20; }
@utility flexCenter { @apply flex items-center justify-center; }
@utility flexBetween { @apply flex items-center justify-between; }
@utility bold-64 { @apply text-[64px] font-[700] leading-[120%]; }
@utility bold-40 { @apply text-[40px] font-[700] leading-[120%]; }
@utility bold-32 { @apply text-[32px] font-[700] leading-[120%]; }
@utility bold-20 { @apply text-[20px] font-[700]; }
@utility regular-16 { @apply text-[16px] font-[400]; }
@utility feature-phone { @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex 3xl:left-20; }
@utility get-app { @apply mx-auto max-w-[1440px] relative flex w-full flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-[40px]; }
@utility hero-map { @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60; }